.filebtn {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #0000EE;
}

.filebtn:disabled {
    opacity: 50%;
    color: black;
}

.deletebtn {
    color: red;
}

.deletebtn:disabled {
    opacity: 50%;
    color: black;
}
