.filebtn {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #0000EE;
}

.filebtn[data-downloading="true"] {
    opacity: 50%;
    color: black;
}

.deletebtn {
    color: red;
}
